@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root{
    --black: rgba(2, 2, 2, 0.945);
    --lightGray: rgba(143, 143, 143, 0.274);
    --white: rgb(240, 248, 255);
    --red: (#E61900);
    --green: (#28E617);
}


*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#allVideos/*<section/>*/{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black);
 
}
#allVideos .video{
    display: flex;
    flex-direction: column;
  

}
#allVideos .video img, #allVideos .video iframe{
    width: 100%;
    max-width: 700px;
}
.iframeBox{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100vw;
 
}
aside/*modal*/ {
 
    width: 100vw;
    height: 100vh;
    background: var(--lightGray);
    position: fixed;
    top:  0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
aside.disable{
    visibility: hidden;
}
aside #content{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 90%;
    max-width: 500px;
    border-radius: 8px;
    
    
    padding: 20px;
    max-height: 500px;
    box-shadow: 3px 2px  3px rgba(19, 18, 18, 0.589);
    
}
aside #content h1{
    margin-top: 50px;
    text-align: center;
    font: 500 32px 'Poppins', Arial, serif
}
aside #content p{
    padding:  0 30px;
    margin-top: 25px;
    font: 400 20px "Roboto", Arial, serif;
}
aside #content .buttons{
    gap: 8px;
    padding: 0 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
    display: grid;
    place-items: center;
}
aside #content .buttons a{
    width: 100%;
}
aside #content .buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    font: 400 16px 'Poppins', Arial, serif;
    border-radius: 8px;
    height: 60px;
    width: 100%;
    color: wheat;;
    cursor: pointer;
    
    

}


aside #content .buttons button:hover{
    opacity: 0.9;
}
aside #content .buttons button{
    background-color: #E61900;
}
aside #content .buttons a button{
    background-color: #28E617;
}
aside #content .buttons a {
    color: white;
    text-decoration: none;
}
